@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.main-container {
    font-family: 'Roboto', sans-serif;
    width: 1200px;
    margin: 0 auto;
}

.questionaire {
    margin: 0;
    margin-top: 20px;
}

.left-head {
    float: left;
}

.right-head {
    float: right;
}

.divider {
    border: 1px solid #333;
}